@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(./images/background.jpg) no-repeat center;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card .face.face1 .content img {
  width: 230px;
  border-radius: 50%;
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.container .card {
  position: relative;
  cursor: pointer;
}
.container .card .face {
  width: 400px;
  height: 300px;
  transition: 0.4s;
  border-radius: 1em;
}
.container .card .face.face1 {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
  border-radius: 1em;
  transform: translateY(100px);
}
.container .card:first-of-type:hover .face.face1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(0);
  box-shadow: inset 0 0 60px rgb(255, 60, 0), inset 20px 0 80px rgb(255, 106, 0),
    inset -20px 0 8cm rgb(255, 111, 0), inset 20px 0 300px rgb(255, 89, 0),
    inset -20px 0 300px rgb(255, 157, 0), 0 0 25px rgb(255, 60, 0);
}
.container .card:nth-of-type(2):hover .face.face1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(0);
  box-shadow: inset 0 0 60px rgb(255, 0,128), inset 20px 0 80px rgb(255,0,136),
    inset -20px 0 8cm rgb(255,0,196), inset 20px 0 300px rgb(255,0,247),
    inset -20px 0 300px rgb(255,0,251), 0 0 25px rgb(255,0,128);
}
.container .card:nth-of-type(3):hover .face.face1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(0);
  box-shadow: inset 0 0 60px rgb(34,52,255), inset 20px 0 80px rgb(33,77,255),
    inset -20px 0 8cm rgb(32,121,255), inset 20px 0 300px rgb(31,95,255),
    inset -20px 0 300px rgb(22,80,255), 0 0 25px rgb(21,41,255);
}

.container .card .face.face2 {
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-200px);
}
.container .card:hover .face.face2 {
  transform: translateY(0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.info{
  margin-bottom: 20px;
}

.content h2 {
  font-weight: 800;
  font-size: 32px;
}
.content h3 {
  font-weight: 500;
  font-size: 24px;
}
.content span {
  font-weight: 500;
  font-size: 18px;
}
.content .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 0.6em;
  gap: 0.5em;
}
.socials i {
  color: white;
  background-color: black;
  padding: 8px;
  border: 3px solid black;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.socials i:hover {
  border: 3px solid orangered;
  background-color: orangered;
  color: white;
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 5px;
}
.btn-box a{
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 1em;
  border: 3px solid black;
  background-color: white;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.btn-box a:first-of-type:hover {
  background-color: black;
  color: white;
}
.btn-box a:nth-of-type(2):hover{
  background-color: orangered;
  color: white;
  border: 3px solid orangered;
}
@media(max-width:1335px) {
  .container {
    flex-direction: column;
    gap: 1em;
    margin: 3em 0;
  }
}
